.board-tile {
  height: 100px;
  width: 200px;
  background: url('../../images/retrobackground.jpg');
  background-size: 250px 250px;
  text-align: center;
  border: solid rgb(0, 0, 0) 3px;
}

/* img {
  height: 60px;
  width: 60px;
} */

.beerpongcups{
  height: 80px;
  width: 80px;
}

.beerpongballs{
  height: 80px;
  width: 80px;
}

.invisible{
  height: 80px;
  width: 80px;
}