.board-tile {
  height: 70px;
  width: 20%;
  background: url('../../images/tableClothBlackWhite.png');
  background-size: 72px 55px;
  text-align: center;
  border: 0px;
}

img {
  height: 60px;
  width: 120px;
}

