.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 15px;
  width: 60%;
  text-align: center
}

.whole-board {
  display: flex;
  justify-content: center;
}

.instructions h2 {
  font-size: 24px;
}
.instructions {
  font-size: 18px;
}

.grolsch{
  height: 125px;
  width: 60px;
}
.bigheineken{
  height: 520px;
  width: 520px;
}